<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config.properties">
	</properties>

	<typeAliases>
		<typeAlias type='edu.eci.cvds.entities.Decanatura' alias='Decanatura' />
		<typeAlias type='edu.eci.cvds.entities.Programa' alias='Programa' />
		<typeAlias type='edu.eci.cvds.entities.Materia' alias='Materia' />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<!--property name="url" value="jdbc:mysql://localhost:3306/video_rental"/! -->
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mappers/DecanaturaMapper.xml"></mapper>
		<mapper resource="mappers/ProgramaMapper.xml"></mapper>
	</mappers>

</configuration>